.picture_on_the_side > div {
    font-size: 1.2rem;
}

.picture_on_the_side img {
    width: 35%;
    height: auto;
}

.picture_on_the_side p {
    vertical-align: middle;
}

.p_with_number:nth-child(2) span:before {
    content: "2";
}

.p_with_number:nth-child(3) span:before {
    content: "3";
}
.p_with_number:nth-child(4) span:before {
    content: "4";
}
.p_with_number:nth-child(5) span:before {
    content: "5";
}
.p_with_number:nth-child(6) span:before {
    content: "6";
}
.p_with_number:nth-child(7) span:before {
    content: "7";
}

#pencilbackground {
    background-image: url("assets/img/why_we_bckgr.png");
    background-position: center;
    background-size: cover;
    min-height: 35rem;
}

#principalsTextsWrapper img {
    width: 100%;
    height: auto;
}