.picture_on_the_side > div {
    font-size: 1.2rem;
}

.picture_on_the_side img {
    width: 35%;
    height: auto;
    max-width: 60px;
}

.picture_on_the_side p {
    vertical-align: middle;
}

.p_with_number:nth-child(2) span:before {
    content: "2";
}

.p_with_number:nth-child(3) span:before {
    content: "3";
}
.p_with_number:nth-child(4) span:before {
    content: "4";
}
.p_with_number:nth-child(5) span:before {
    content: "5";
}
.p_with_number:nth-child(6) span:before {
    content: "6";
}
.p_with_number:nth-child(7) span:before {
    content: "7";
}

#pencilbackground {
    background-image: url("assets/img/why_we_bckgr.png");
    background-position: center;
    background-size: cover;
    min-height: 35rem;
}

#principalsTextsWrapper img {
    width: 100%;
    height: auto;
}

.company_portrait {
    font-family: 'Highway light';
}

#construction-technologies {
    font-family: 'Highway light', sans-serif;
}

#whyWe {
    /*background-image: url("assets/img/why_we_bckgr.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 65%;*/
    /*background-position: bottom left;*/
    min-height: 35rem;
    font-size: 0.8rem;
}

.company_portrait {
    height: 30rem;
}

#map_background {
    background-image: url("assets/img/map.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

#map_background img {
    height: 14%;
    width: 50%;
    margin-top: 0.8%;
}

#hr {
    background-image: url("assets/img/hr.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

