.container {
    width: 90%;
}

body .material-icons {
    font-size: 0.9rem;
}

.carousel-indicators li{
    background-color: #878887 !important;

}

.slider_icons .carousel-indicators .active{
    background-color: #878887 !important;
    width: 1.1rem !important;
    height: 1.1rem !important;
}

/*
    TOP ELEMENTS
*/


.icon {
    height: 0.75rem;
    color: #878887;
    width: 0.75rem;
}

.col_top_menu a {
    font-weight: 600;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-top .nav-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header_menu .container .navbar-top .nav-item {
    font-size: 80%;
    width: auto;
    float: none;
    display: inline-block;
}

.navbar-top .nav-item:first-child {
    padding-left: 0rem;
}

.contacts_line span {
    color: #A30F36;
    font-weight: 500;
}

.contacts_line p:last-child {
    color: #878887;
}

.container.navbar.navbar-nav.nav-item{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.bg-faded {
    background-color: rgba(163, 15, 54, 1.0);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-nav .active, .navbar-light .navbar-nav .nav-item {
    border-bottom: 4px solid rgba(163, 15, 54, 1.0);
}

.navbar-light .navbar-nav .active, .navbar-light .navbar-nav .nav-item:hover {
    border-bottom: 4px solid black;
}

.navbar-justified {
    width: 100%;
}

.nav-item {
    height: 100%;
}

.navbar .container {
    height: 100%;
}

.header_menu .navbar {
    padding: 0;
}

.header_menu {
    margin-bottom: 2.5rem;
}

.header_menu .nav-pills {
    position: absolute;
    top: 140px;
    left: 19rem;
    z-index: 3;
    display: none;
}

.dropdown_menu .nav-item {
    display: block !important;
    background-color: #A30F36;
    margin-top: -100px;
    margin-bottom: -0.2rem !important;
}

.dropdown_menu .nav-link {
    border: none !important;
    background-color: #A30F36 !important;
    color: white !important;
}

.dropdown_menu:hover {
    display: block;
}


.header_menu .nav-item:first-child:hover ~ .dropdown_menu {
    display: block;
}






/*
    MIDDLE ITEM
*/

.calculate_uscrollable {
    position: fixed;
    padding-left: 10px;
    color: white;
    top: 30%;
    right: -30px;
    width: 60px;
    height: 370px;
    background-color: #A30F36;
    z-index: 3;
}




.calculate_uscrollable:hover {
    right: 0;
}

.carousel img{
    height: 30%;
}

.row_slider {
    height: 80%;
}

.row_slider h2 {
    position: relative;
    padding-top: 1rem;
    padding-left: 7rem;
    margin-bottom: -8.9%;
    z-index: 1;
}

.meter_counter {
    position: relative;
    top: 32rem;
}

/* slider w. icons */

.slider_icons {
    margin: auto;
    display: inline-block;
}

.icon_big {
    stroke: #A30F36;
    height: 4rem;
    width: 4rem;
}

.slider_icons {
    height: 8rem;
}

.slider_icons p {
    vertical-align: bottom;
}

.slider_icons img, .slider_icons p {
    display: inline-block;
}

.slider_icons a {
    line-height: 1rem;
    text-wrap: normal;
    color: #A30F36;
    font-weight: 600;
}



/*
    MAP
*/

.row_contacts_block > .row > h1 {
    font-weight: 400;
}

.row .map div {
    background-image: url("assets/img/map.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 960px;
    height: 510px;
    width: 100%
}

.contacts_line {
    line-height: 0.35rem;
}

p.addres {
    line-height: 2rem;
}

p.contacts_line {
    font-weight: 600;
}

.row_contacts {
    margin-top: 3rem;
}

.city_name {
    color: #A30F36;
    font-weight: 400;
}

.city_name:only-child {
    padding-bottom: 0.9rem;
}

.contacts_line span.black_bold {
    margin-top: 2rem;
    color: black;
    font-weight: bold;
}

/*
    CLIENTS
*/

.clients_list {
    width: 1220px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.clients_list_1 {
    background-image: url('assets/img/logos.jpg');
}

.clients_list_2 {
    background-image: url('assets/img/logos.jpg');
    background-position: 0px -150px;
}

.clients_list_3 {
     background-image: url('assets/img/logos.jpg');
     background-position: 0px -300px;
 }

.clients_list_4 {
    background-image: url('assets/img/logos.jpg');
    background-position: 0px -475px;
}
/*
    ABOUT
*/

.row_about > h1 {
    font-weight: 400;
    font-size: 3rem;
}

.row_about {
    background-color: rgba(163, 15, 54, 1.0);
    color: white;
}

.number {
    font-weight: 600;
    font-size: 4rem;
}

.number + p {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 3rem;
}

.row_about hr {
    color: white;
    width: 4rem;
    border-top: 1px solid white;
}

.row_about .btn-danger {
    background-color: rgba(163, 15, 54, 1.0);
    border-color: white;
}

.btn {
    border-radius: 0;
}


.our_advantages {
    color: #878887;
    padding: 1rem 2rem;
}


.our_advantages .row > div div::before {
    position: relative;
    display: block;
    top: 55px;
    left: -60px;
    width: 45px;
    height: 50px;
    content: "";
    background-image: url("assets/img/icons.jpg");
    background-repeat: no-repeat;
}

.our_advantages .row:first-child > div:first-child div::before {
    background-position: -73px -1193px;
}

.our_advantages .row:first-child > div:nth-child(2) div::before {
    background-position: -73px -1013px;
}

.our_advantages .row:first-child > div:nth-child(3) div::before {
    background-position: -73px -1103px;
}

.our_advantages .row:first-child > div:nth-child(4) div::before {
    background-position: -73px -835px;
}

.our_advantages .row:last-child > div:first-child div::before {
    background-position: -73px -925px;
}

.our_advantages .row:last-child > div:nth-child(2) div::before {
    background-position: -73px -659px;
}

.our_advantages .row:last-child > div:nth-child(3) div::before {
    background-position: -75px -745px;
}

.our_advantages .row:last-child > div:nth-child(4) div::before {
    background-position: -75px -570px;
}


.our_advantages .row > div div {
    margin-left: 3rem;
    padding-left: 3rem;
    margin-top: -3rem;
}

/*
    FOOTER
*/

footer {
    font-size: 0.8rem;
}

footer p {
    line-height: 0.8rem;
    line-height: 0.8rem;
}

.socials a{
    margin-right: 1rem;
}