.container {
    max-width: 1240px;
    width: 90%;
}

body .material-icons {
    font-size: 0.9rem;
}

.carousel-indicators li{
    background-color: #878887 !important;

}

.slider_icons .carousel-indicators .active{
    background-color: #878887 !important;
    width: 1.1rem !important;
    height: 1.1rem !important;
}

/*
    TOP ELEMENTS
*/


.icon {
    height: 0.75rem;
    color: #878887;
    width: 0.75rem;
}

.col_top_contacts ul {
    z-index: 3;
    display: none;
    position: absolute;
    top: 50%;
    right: 4%;
}

.col_top_contacts .nav-link {
    border: 1px solid #A30F36;
    background-color: white;
    color: #A30F36;
    text-align: right;
}


    /* top contacts */


.col_top_contacts a:first-child span {
    border-bottom: 1px dashed #A30F36;
}

.contacts_line span {
    color: #A30F36;
    font-weight: 500;
}

.contacts_line p:last-child {
    color: #878887;
}

.col_top_contacts > a:hover + ul, .col_top_contacts ul:hover {
    display: block;
}

/* muted menu */


.col_top_menu a {
    font-weight: 600;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.col_top_menu ul {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    list-style: none;
    text-align: justify !important;
    width: 100%;

    /*special for IE6*/
    text-justify: newspaper;
    zoom: 1;
    text-align-last: justify;
}

.col_top_menu ul li {
    line-height: 1rem;
    display: inline-block;
}

.col_top_menu ul:after {
    visibility: hidden;
    width: 100%;
    height: 0;
    content: '';
    overflow: hidden;
    display: inline-block;
}


/* main menu */

.header_menu > .navbar {
    width: 100%;
    border-radius: 0;
}

.header_menu {
    margin: 0;
    border-radius: 0;
}

.header_menu ul {
    line-height: 0;
    list-style: none;
    text-align: justify !important;
    width: 100%;

    /*special for IE6*/
    text-justify: newspaper;
    zoom: 1;
    text-align-last: justify;
}

.header_menu ul:after{
    visibility: hidden;
    width: 100%;
    height: 0;
    content: '';
    overflow: hidden;
    display: inline-block;
}

.header_menu ul li {
    line-height: 1rem;
    display: inline-block;
}

.header_menu .container .navbar-top .nav-item {
    display: inline-block;
    float: none;
}

.header_menu .container .navbar-top .nav-item:first-child {
    width: 90px;
}

.header_menu .container .navbar-top .nav-item:nth-child(3) {
    width: 155px;
}

.header_menu .container .navbar-top .nav-item:nth-child(5) {
    width: 173px;
}

.header_menu .container .navbar-top .nav-item:nth-child(7) {
    width: 150px;
}

.header_menu .container .navbar-top .nav-item:nth-child(9) {
    width: 95px;
}

.header_menu .container .navbar-top .nav-item:nth-child(11) {
    width: 147px;
}

.header_menu a {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
}

.container.navbar.navbar-nav.nav-item{
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.bg-faded {
    background-color: rgba(163, 15, 54, 1.0);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.container_special .nav-item {
    border-bottom: 4px solid rgba(163, 15, 54, 1.0);
}
.container_special .nav-item:hover {
    border-bottom: 4px solid black;
}

.navbar .container {
    height: 100%;
}

.header_menu .navbar {
    padding: 0;
}

.header_menu .nav-pills {
    position: absolute;
    top: 100%;
    left: 7%;
    z-index: 3;
    display: none;
}

.header_menu .nav-pills .nav-item {
    padding: 0;
    font-size: 0.8rem;
}

.header_menu .nav-pills:nth-of-type(1) {
    top: 100%;
    left: 7%;
}

.header_menu .nav-pills:nth-of-type(2) {
    top: 100%;
    left: 20%;
}

.header_menu .nav-pills:nth-of-type(3) {
    top: 100%;
    left: 35%;
}

.header_menu .nav-pills:nth-of-type(4) {
    top: 100%;
    left: 49%;
}

.header_menu .nav-pills:nth-of-type(5) {
    top: 100%;
    left: 64%;
}


.navbar-top .dropdown_menu .nav-item {
    display: block !important;
    background-color: #A30F36;
}

.navbar-top .dropdown_menu .nav-link {
    border: none !important;
    background-color: #A30F36 !important;
    color: white !important;
}

.dropdown_menu:hover {
    display: block;
}


.header_menu .nav-item:hover + .dropdown_menu {
    display: inline;
}






/*
    MIDDLE ITEMS
*/

.calculate_uscrollable {
    text-align: center;
    position: fixed;
    padding-top: 14px;
    color: white;
    top: 40%;
    right: -90px;
    width: 200px;
    height: 45px;
    background-color: #A30F36;
    z-index: 3;
    -webkit-transform: rotate(90deg); transform: rotate(90deg)
}

.calculate_uscrollable:hover {
    right: -80px;
}

.carousel img {
    height: 30%;
}

.row_slider {
    height: 80%;
}

.row_slider h2 {
    position: relative;
    padding-top: 1rem;
    padding-left: 7rem;
    margin-bottom: -5.3rem;
    z-index: 1;
}

.meter_counter {
    position: relative;
    top: 32rem;
}

/* slider w. icons */

.slider_icons {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.slider_icons a {
    margin-left: 4%;
    margin-right: 4%;
    display: inline-block;
}

.icon_big {
    stroke: #A30F36;
    height: 4rem;
    width: 4rem;
}

.slider_icons p {
    vertical-align: bottom;
}

.slider_icons img, .slider_icons p {
    display: inline-block;
}

.slider_icons a {
    line-height: 1rem;
    text-wrap: normal;
    color: #A30F36;
    font-weight: 600;
}

.carousel-control {
    background-image: none !important;
}

/*
    MAP
*/

.row_contacts_block > .row > h1 {
    font-weight: 400;
}

.row .map div {
    background-image: url("assets/img/map.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
}

.contacts_line {
    line-height: 0.35rem;
}

p.addres {
    line-height: 2rem;
}

p.contacts_line {
    font-weight: 600;
}

.row_contacts {
    margin-top: 3rem;
}

.city_name {
    color: #A30F36;
    font-weight: 400;
}

.city_name:only-child {
    padding-bottom: 0.9rem;
}

.contacts_line span.black_bold {
    margin-top: 2rem;
    color: black;
    font-weight: bold;
}

/*
    CLIENTS
*/

.clients_list {
    width: 1220px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.clients_list_1 {
    background-image: url('assets/img/logos.jpg');
}

.clients_list_2 {
    background-image: url('assets/img/logos.jpg');
    background-position: 0 -150px;
}

.clients_list_3 {
     background-image: url('assets/img/logos.jpg');
     background-position: 0 -300px;
 }

.clients_list_4 {
    background-image: url('assets/img/logos.jpg');
    background-position: 0 -475px;
}
/*
    ABOUT
*/

.row_about > h1 {
    font-weight: 400;
    font-size: 3rem;
}

.row_about {
    background-color: rgba(163, 15, 54, 1.0);
    color: white;
}

.number {
    font-weight: 600;
    font-size: 4rem;
}

.number + p {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 3rem;
}

.row_about hr {
    color: white;
    width: 4rem;
    border-top: 1px solid white;
}

.row_about .btn-danger {
    background-color: rgba(163, 15, 54, 1.0);
    border-color: white;
}

.btn {
    border-radius: 0;
}


.our_advantages {
    color: #878887;
    padding: 1rem 2rem;
}


.our_advantages .row > div div::before {
    position: relative;
    display: block;
    top: 55px;
    left: -60px;
    width: 47px;
    height: 50px;
    content: "";
    background-image: url("assets/img/high-ico.png");
    background-repeat: no-repeat;
}

.our_advantages .row:first-child > div:first-child div::before {
    background-position: -1px 0px;
}

.our_advantages .row:first-child > div:nth-child(2) div::before {
    background-position: -99px 0px;
}

.our_advantages .row:first-child > div:nth-child(3) div::before {
    background-position: -50px 0px;
}

.our_advantages .row:first-child > div:nth-child(4) div::before {
    background-position: -197px 0px;
}

.our_advantages .row:last-child > div:first-child div::before {
    background-position: -150px 0px;
}

.our_advantages .row:last-child > div:nth-child(2) div::before {
    background-position: -298px 0px;
}

.our_advantages .row:last-child > div:nth-child(3) div::before {
    background-position: -349px 0px;
}

.our_advantages .row:last-child > div:nth-child(4) div::before {
    background-position: -249px 0px;
}


.our_advantages .row > div div {
    margin-left: 3rem;
    padding-left: 3rem;
    margin-top: -3rem;
}

/*
    FOOTER
*/

footer {
    font-size: 0.8rem;
}

footer p {
    line-height: 0.8rem;
}

.socials a{
    margin-right: 1rem;
}