.nav-pills .nav-item .open a .nav-link {
    background-color: none;
}

#portfolioHeader a:hover, #portfolioHeader a:visited, #portfolioHeader a:active,  #portfolioHeader a:focus {
    color: #A30F36;
}

.dropdown-menu  a{
    border: none;
    color: white;
}

.nav-tabs .nav-link,.nav-tabs.open .nav-link  {
    border: none;
    background-color: transparent;
}

img {
    width: 95%;
    height: 95%;
}

.picture_box p span {
    font-weight: 600;

}

.picture_box p {
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin-bottom: 0;
}

.picture_box > div > p:first-of-type {
    margin-top: 0.7rem;
}

.picture_box > div >img:hover {
    box-shadow: 3px 3px 1px 1px gainsboro;
}

.picture_box > div:hover > p {
    text-decoration: underline;
}


#modalMainImg {
    max-height: 40vh;
    width: auto;
}

#portfolioCard .carousel {
    margin-top: 1rem !important;
}

#portfolioCard .carousel-indicators {
    margin-top: 0.2rem;
    bottom: -2.7rem;
}

#portfolioCard .carousel img {
    width: 100% !important;
    height: 100% !important;
}

.no-gutters {
    padding: 0;
}

#portfolioCard .icon-prev, #portfolioCard .icon-next {
    top: 40% !important;
    color: #dd1118;
    text-shadow: none;
}

#portfolioCard p {
    font-weight: 600;
}

#portfolioHeader {
    font-size: 0.9rem;
    border-bottom: none;
}

.sup {
    font-size: 0.5rem;
    vertical-align: super;
}